/**/
.page__background{
background-image:url(../img/background.jpg);
background-color:none;
background-repeat:repeat;
background-position:0 0;
background-attachment:fixed;
background-size: cover;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
